# Binary files
otelcol
otelcol_*
bin/

# Log files
otel-collector.log
*copy.log
# Sample logs are tracked
*.log

# Environment variables
.env

# Backup files
*.bak
*copy*

# Temporary files
tmp/
temp/
.DS_Store

# Downloaded packages
*.tar.gz
*.zip

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
/vendor/

# Dependency directories
node_modules/

# SBOM files
sbom.spdx.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo